# Full requirements for developments
monai
keras
torch
numpy
setuptools
coverage
parameterized
pytorch-ignite
gdown
scipy
itk
nibabel
pillow
tensorboard
scikit-image
tqdm
lmdb
flake8
flake8-bugbear
flake8-comprehensions
flake8-executable
flake8-pyi
pylint
mccabe
pep8-naming
pycodestyle
pyflakes
black
isort
pytype
types-pkg_resources
mypy
ninja
torchvision
psutil
Sphinx
recommonmark
sphinx-autodoc-typehints
sphinx-rtd-theme
openslide-python
pandas
requests
einops
transformers
mlflow
matplotlib
types-PyYAML
pyyaml
fire
jsonschema
pynrrd
pre-commit
opencv-python
ipython
seaborn
openpyxl
hydra-core